@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}
.title {
  /* display: none; */
  position: absolute;
  width: 280px;
  height: 250px;
  border: 1px solid #9c2227;
  top: -120px;
  left: -95px;

  clip-path: polygon(0 0, 100% 0, 100% 50%, 30% 35%, 30% 100%, 0 100%);
}
.title::before {
  content: "";
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  float: left;
}

/* Section Title */
.sectionTitle1::after {
  content: "";
  position: relative;
  width: 50%;
  height: 2px;
  background: #9c2227;
  float: left;
}

.sectionTitle {
  /* display: none; */
  position: absolute;
  width: 280px;
  height: 200px;
  border: 3px solid #9c2227;
  top: -100px;
  left: -120px;

  clip-path: polygon(0 0, 100% 0, 100% 40%, 30% 35%, 30% 100%, 0 100%);
}
.sectionTitle::before {
  content: "";
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  float: left;
}

/* dot color */
.slick-dots li button:before {
  color: #d2ab69 !important; /* Change dot color */
  font-size: 12px !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #9c2227 !important; /* Active dot color */
}

/* custom fonts */
@font-face {
  font-family: anislay;
  src: url(../public/Ainsley\ Bold.ttf);
}
.anislay {
  font-family: anislay;
}

@font-face {
  font-family: "Mutalis";
  src: url("../public/Mutalis.otf") format("opentype");
}

.mutalis {
  font-family: "Mutalis", sans-serif;
}

@font-face {
  font-family: koffin;
  src: url(../public/Koffins.ttf);
}
.koffin {
  font-family: koffin;
}
.clip-custom {
  clip-path: polygon(20% 23%, 79% 19%, 79% 25%);
}

/* For tablets (768px - 1024px) */
@media (max-width: 1024px) {
  .sectionTitle {
    width: 200px;
    height: 220px;
    top: -90px;
    left: -90px;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 40% 40%, 40% 100%, 0 100%);
  }
}

/* For mobile devices (up to 767px) */
@media (max-width: 767px) {
  .sectionTitle {
    width: 120px;
    height: 160px;
    top: -40px;
    left: -21px;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 45%, 10% 100%, 0 100%);
  }
}

@media (max-width: 767px) {
  .title {
    width: 120px;
    height: 85px;
    top: -36px;
    left: -16px;
  }
}
